/* Parent container */
.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Background image */
.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/desktop-login-bg.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* Login content */
.login-content {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 30%; /* Adjusted width for balance */
  background: linear-gradient(to bottom, #ffffff, #f0f3ff);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
  z-index: 2;
  border: 1px solid #34437a;
}

/* Logo section */
.logo-section {
  text-align: center;
}

.logo-image {
  width: 50%; /* Adjusted size */
  margin-bottom: 20px;
}

.logo-section h2 {
  font-size: 30px;
  font-weight: 700;
  color: #34437a;
  margin-bottom: 10px;
}

.logo-section p {
  font-size: 16px;
  color: #7d7d7d;
  margin-bottom: 30px;
  padding: 8px;
}

/* Google icon inside button */
.google-icon {
  width: 70%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.google-icon:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .login-content {
    top: 31%;
    right: 13%;
    width: 73%;
  }
}
