<div class="category-container">

    <div class="header">
        <img src="assets/icons/back-arrow.png" alt="Back Icon" routerLink="/learning-zone" class="back-button" />
        <div class="title-container">
            <h1>Learning Zone</h1>
            <img src="assets/icons/long-arrow.png" alt="Arrow" class="long-arrow" />
            <h2>{{ title }}</h2>
        </div>
        <img src="assets/icons/category-icon.png" alt="Category Icon" class="header-icon" />
    </div>

    <!-- Total Stats Section -->
    <div class="total-stats">
        <div class="stat-box">
            <img src="assets/icons/bulb-icon.png" alt="Quiz Icon" class="stat-icon" />
            <p>Total<br><span>Quiz: 1 / 106 Solved</span></p>
        </div>

        <div class="stat-box">
            <img src="assets/icons/ball-icon.png" alt="Goal Icon" class="stat-icon" />
            <p>Total<br><span>Goal: 3 Scored</span></p>
        </div>
    </div>

    <!-- Cards Section -->
    <div class="cards-container">
        <div class="card" *ngFor="let card of learnAndPlayCards">
            <img [src]="card.image" alt="{{ card.title }}" class="card-image" />
            <div class="card-content">
                <p class="card-title">{{ card.title }}</p>
            </div>
            <div class="card-stats">
                <div class="card-stat">
                    <img src="assets/icons/bulb-icon.png" alt="Lightbulb Icon" class="stat-icon" />
                    <span>{{ card.solved }} / 51</span>
                </div>
                <div class="card-stat">
                    <img src="assets/icons/ball-icon.png" alt="Ball Icon" class="stat-icon" />
                    <span>{{ card.goals }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Coming Soon Section -->
    <div class="coming-soon">
        <img src="assets/icons/coming-soon.png" alt="Coming Soon Icon" class="coming-soon-image" />
    </div>
</div>