<div class="details-container">
    <div class="header">
        <img src="assets/icons/back-arrow.png" alt="Back Icon" class="back-button" (click)="onBackClick()" />
        <div class="title-container">
            <!-- Dynamic title from Input -->
            <h1>{{ title }}</h1> <!-- Dynamic h1 passed from parent -->
            <img src="assets/icons/long-arrow.png" alt="Arrow" class="long-arrow" />
            <h2>{{ subtitle }}</h2> <!-- Dynamic h2 passed from parent -->
        </div>
        <img src="assets/icons/category-icon.png" alt="Category Icon" class="header-icon" />
    </div>

    <!-- Content goes here -->
    <div class="content">
        <div *ngFor="let article of articles" class="card">
            <div class="card-header">
                <h2>{{ article.articleTitle }}</h2> <!-- Article title -->
                <div class="article-icons">
                    <img src="assets/icons/bookmark-icon.png" alt="Bookmark" class="header-article-icon" />
                    <img src="assets/icons/share-icon.png" alt="Share" class="header-article-icon" />
                </div>
            </div>
            <div class="card-body">
                <img [src]="article.articleImage" alt="{{ article.articleTitle }}" class="card-image" />
                <div class="card-content">
                    <p>{{ article.articleContent }}</p> <!-- Article content -->
                    <button class="register-button" (click)="navigateToRegister()">
                        Register my Interest
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <p>
                    Please scroll up for more
                    <span class="material-icons">arrow_upward</span>
                </p>
                <div class="footer-icons">
                    <span class="material-icons">thumb_up</span>
                    <span class="material-icons">thumb_down</span>
                </div>
            </div>
        </div>
    </div>
</div>