.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

app-footer {
  display: none;
}

/* Show the footer only for mobile screens (max-width: 768px) */
@media (max-width: 768px) {
  app-footer {
    display: block;
  }
  .container {
    padding-bottom: 60px;
  }
}
