<nav class="navbar navbar-expand-lg navbar-light bg-light  shadow-nav">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Left Logo -->
        <img src="assets/Layer_x0020_1.png" alt="Left Logo" class="logo-left" />

        <!-- Right Logo and Name Logo -->
        <div class="d-flex align-items-center">
            <img src="assets/Group 494.png" alt="Right Logo" class="logo-right" />
            <div class="name-logo ms-3"> <!-- Add spacing -->
                S
            </div>
        </div>
    </div>
</nav>