<div class="entrepreneur-zone-container">
    <!-- Header -->
    <div class="header">
        <img src="assets/icons/back-arrow.png" alt="Back Icon" routerLink="" class="back-button" />
        <div class="title-container">
            <h1>Entrepreneur Zone</h1>
            <img src="assets/icons/long-arrow.png" alt="Arrow" class="long-arrow" />
        </div>
        <img src="assets/icons/world-icon.png" alt="World Icon" class="header-icon" />
    </div>

    <!-- Section 1: Entrepreneurial Quotient -->
    <div class="section Entrepreneur">
        <div class="section-header ">
            <h2 class="section-title">
                Check your <span class="highlight">Entrepreneur Quotient</span>
            </h2>
            <div class="section-line"></div> <!-- Horizontal line in the same row -->
        </div>

        <div class="eq-banner">
            <div class="eq-content">
                <img src="assets/cards/entrepreneurial-quotient.jpg" alt="Entrepreneurial Quotient" class="eq-image" />
                <p class="eq-title">Are You Born to Lead? Find Out! <span>→</span></p>
            </div>
        </div>
    </div>
    <br>

    <div class="section">
        <div class="section-header">
            <h2 class="section-title">
                Explore <span class="highlight">Opportunities</span>
            </h2>
            <div class="section-line"></div> <!-- Horizontal line in the same row -->
        </div>
        <div class="card-container">
            <div class="opportunity-card">
                <div class="card-content">
                    <img class="opportunity-image" src="assets/cards/social.png" alt="Social Entrepreneur" />
                    <div class="card-details">
                        <p class="opportunity-title">Social Entrepreneur</p>
                        <p class="opportunity-description">Want to become a Social Entrepreneur?</p>
                        <div class="card-explore">
                            <span class="explore-text">Explore →</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="opportunity-card">
                <div class="card-content">
                    <img class="opportunity-image" src="assets/cards/gamification.png" alt="Gamification Consultant" />
                    <div class="card-details">
                        <p class="opportunity-title">Gamification Consultant</p>
                        <p class="opportunity-description">Step Into Corporate Gamification Consulting!</p>
                        <div class="card-explore">
                            <span class="explore-text">Explore →</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="opportunity-card">
                <div class="card-content">
                    <img class="opportunity-image" src="assets/cards/fintech-idea.png" alt="Social Entrepreneur" />
                    <div class="card-details">
                        <p class="opportunity-title">Your Fintech Idea</p>
                        <p class="opportunity-description">Want to bring your Fintech idea to life?</p>
                        <div class="card-explore">
                            <span class="explore-text">Explore →</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>