<div class="performance-section">
    <div class="heading-section">
        <div class="section-header">
            <div class="section-line"></div> <!-- Horizontal line in the same row -->
            <h2 class="section-title">
                My Performance
            </h2>
            <div class="section-line"></div> <!-- Horizontal line in the same row -->
        </div>
        <div class="profile-card">
            <div class="profile-info">
                <img [src]="userProfileImg" alt="" class="name-logo">
                <h3>{{name}}</h3>
                <p class="profile-level">GRADUATE LEVEL</p>
            </div>
        </div>
    </div>



    <div class="stats-container">
        <div class="stat-card">
            <img src="assets/badge-gold.png" alt="Badge Gold">
            <p>0</p>
            <span>Badges Won</span>
        </div>
        <div class="stat-card">
            <img src="assets/goal-icon.png" alt="Goals">
            <p>0</p>
            <span>Goals</span>
        </div>
        <div class="stat-card">
            <img src="assets/gem-icon.png" alt="Gems">
            <p>0</p>
            <span>Gems</span>
        </div>
        <div class="stat-card">
            <img src="assets/wallet-icon.png" alt="Wallet">
            <p>0</p>
            <span>Wallet</span>
        </div>
    </div>

    <div class="action-buttons">
        <div class="action-button">View Bookmarked</div>
        <div class="action-button">View Available Rewards</div>
        <div class="action-button">Assessment Score</div>
        <div class="action-button">Rewards Redeemed</div>
    </div>
</div>