.performance-section {
  background-color: #f5f7fb;
  width: 100%;
  box-sizing: border-box;
}

.heading-section {
  background: linear-gradient(to right, #f7f9ff, #e7ecff, #c9d4ff);
}

/* Section header */
.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 10px;
  gap: 10px;
}

.section-title {
  font-size: 22px;
  font-weight: 700;
  color: #34437a;
}

.section-line {
  flex-grow: 1;
  height: 2px;
  background-color: #f7931e;
}

.profile-card {
  background: linear-gradient(to top, #e9edff, #ffffff);
  width: 380px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  bottom: 20px;
}

.profile-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-logo {
  width: 90px;
  height: 90px;
  background: #34437a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info h3 {
  font-size: 20px;
  color: #2b3a67;
  margin: 10px 0;
}

.profile-level {
  color: orange;
  font-weight: bold;
  font-size: 16px;
}

/* Stats Section */
.stats-section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

/* Badges Section */
.badges-container {
  background: linear-gradient(
    to right,
    #fff7ed,
    #ffead1,
    #ffd19a
  ); /* Light gradient background */
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 34%;
  max-width: 700px;
  border: 2px solid #ff9800;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Badge Items */
.badge-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.badge-card img {
  width: 60px; /* Adjust badge size */
}

.badge-card p {
  margin-top: 5px;

  background: white;
  border-radius: 50%;
  border: 1px solid#EF7F1A;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #34437a;
}
/* Divider Line Between Badges */
/* .badge-card:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 10%;
  height: 80%;
  width: 2px;
  background: #d6b18a;
} */

/* Badges Title */
.badge-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ff7600;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 8px 0;
  border: 2px solid transparent;
}

/* Other Stats Section */
.other-stats {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.stat-card {
  background: #fff7ed;
  padding: 15px;
  border-radius: 12px;
  width: 120px;
  text-align: center;
  border: 2px solid #ff9800;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-card img {
  max-width: 50px;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 20px;
  font-weight: bold;
}

.stat-card span {
  color: #ff7600;
  font-weight: bold;
  font-size: 14px;
}

/* Action Buttons */
.action-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.action-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #f8f9ff, #ffffff);
  padding: 20px;
  border-radius: 20px;
  width: 190px;
  height: 150px;
  box-shadow: 0 8px 20px rgba(50, 50, 93, 0.25), 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  border: none;
  position: relative;
}

.action-button img {
  width: 40px;
  margin-bottom: 5px;
}

.action-button:hover {
  background: #e0e7ff;
}
