.placement-zone-container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f7fb;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 0;
  background: linear-gradient(to right, #d2dbff, #f7f9ff, #e7ecff);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 85px;
  margin-top: -20px;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #34437a;
  margin: 0;
}

.long-arrow {
  width: 160px;
}

.header-icon {
  max-width: 80px;
}
.back-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 20px;
  }

  .long-arrow {
    width: 120px;
  }
}

.career-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.career-prep,
.career-opportunities {
  flex: 1;
  margin: 0 10px;
}

h3 {
  font-size: 20px;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 2px solid orange;
}

.highlight {
  color: orange;
}

/* Career Cards */
.career-cards {
  display: flex;
  gap: 15px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: left;
}
